head
    title 作业
body
    header
        nav
            .nav-wrapper
                .container
                    .brand-logo 作业
        #nav
            +sideNav
    main#main
        +tweetsList
        .fixed-action-btn
            +FAB