head
    title 作业
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
body
    header
        nav
            .nav-wrapper
                .container
                    a.brand-logo 作业
                    ul.right
    #main
        +tweetsList