head
    title 作业

template(name="tweetCard")
    .card.hoverable
        .card-content
            .card-title #{author}
            p #{content}
        .card-action
            .btn-floating.grey.lighten-3.waves-effect.waves-red
                i.material-icons.grey-text &#xE3CD;
            a.right(href='#')
                h6 转发
            a.right(href='#')
                h6 评论

template(name="CardList")
    +publish
    #masonry-list.valign
        +each tweets
            +tweetCard

template(name="layout")
    +nav
    .main-content
        +yield

template(name="loading")
    .progress#loading-progress
        .indeterminate

template(name="nav")
    header
        nav
            .nav-wrapper
                .container
                    a.brand-logo(href="{{pathFor 'CardList'}}") 作业
                    ul.right
                        li
                            a#profile-btn(class="{{#unless $.Meteor.userId}}hide{{/unless}}",data-activates='profile-drop',href='#!') {{$.Meteor.user.username}}
                                i.material-icons.right arrow_drop_down
                        unless $.Meteor.userId
                            li
                                a#login-btn(href='#!') 已有账户？直接登录
                            .btn.at-btn#reg-btn 注册

        .modal#account-modal
            .modal-content
                +atForm
        .ui.dropdown-content#profile-drop
            ul(class="{{#unless $.Meteor.userId}}hide{{/unless}}")
                li
                    a#logout-a 注销

template(name="publish")
    .fixed-action-btn
        #edit-btn.btn-floating.btn-large.red.tooltipped.modal-trigger(class="{{#unless $.Meteor.userId}}hide{{/unless}} {{#if $.Session.get 'modalOpen'}}modal-open{{else}}modal-close{{/if}}",data-position="left",data-tooltip="{{#if $.Session.get 'modalOpen'}}关闭{{else}}发布新内容{{/if}}",data-delay="0",data-target="edit-modal")
            i.large.material-icons add
    #edit-modal.modal
        .modal-content
            textarea.materialize-textarea#publish-area(placeholder="你最近有什么新鲜事要分享吗？")
        .modal-footer
            button.btn.waves-effect.waves-light(type="submit") 发布
                i.material-icons.right send
            .btn-flat.waves-effect.modal-action.modal-close 取消

template(name="reCaptchaFix")
    .row
        .g-recaptcha(data-sitekey='{{key}}',data-theme='{{theme}}',data-type='{{data_type}}')