template(name="tweetsList")
    .container.js-isotope(data-isotope-options='{ "itemSelector": ".col", "masonry": { "columnWidth": ".col" } }')
        .row
            +each tweets
                .col.s12.m6.l4
                    +tweetItem