template(name="layout")
    header
        nav
            .nav-wrapper
                .container
                    a.brand-logo(href=pathFor 'CardList') 作业
        #nav
            +sideNav
    +yield