template(name="tweetCard")
    .card.hoverable
        .card-content
            .card-title #{author}
            p #{content}
        .card-action
            .btn-floating.grey.lighten-3.waves-effect.waves-red
                i.material-icons.grey-text &#xE3CD;
            a.right(href='#')
                h6 转发
            a.right(href='#')
                h6 评论