template(name="nav")
    header
        nav
            .nav-wrapper
                .container
                    a.brand-logo(href=pathFor 'CardList') 作业
                    ul.right
                        li
                            a#login-btn(href='#') 登录
        .modal#login-modal
            .modal-content
                +atForm