template(name="publish")
    .fixed-action-btn#edit-btn
        .btn-floating.btn-large.red.waves-effect.waves-light.tooltipped(data-position="left",data-tooltip="发布新内容",data-delay="0")
            i.large.material-icons mode_edit
    #edit-modal.modal
        .modal-content
            textarea.materialize-textarea(placeholder="你最近有什么新鲜事要分享吗？")
        .modal-footer
            button.btn.waves-effect.waves-light(type="submit") 发布
                i.material-icons.right send
            .btn-flat.waves-effect.modal-action.modal-close 取消
